<div class="g-foot2">
    <div class="g-wrap">
        <dl class="dl1">
            <dt>新手入门</dt>
            <dd><a target="_blank" href="/reg.html" rel="nofollow">新用户注册</a></dd>
            <dd><a target="_blank" href="/user/forget.html" rel="nofollow">找回密码</a></dd>
            <dd><a target="_blank" href="/help/orderProcess.html" rel="nofollow">订购流程</a></dd>
        </dl>
        <dl class="dl2">
            <dt>安全支付</dt>
            <dd><a target="_blank" href="/help/pay/payOnline.html" rel="nofollow">在线支付</a></dd>
            <dd><a target="_blank" href="/help/pay/bankRemittance.html" rel="nofollow">银行汇款</a></dd>
            <dd><a target="_blank" href="/help/pay/invoice.html" rel="nofollow">发票说明</a></dd>
        </dl>
        <dl class="dl3">
            <dt>关于配送</dt>
            <dd><a target="_blank" href="/help/transport/transportMethod.html" rel="nofollow">配送方式</a></dd>
            <dd><a target="_blank" href="/help/transport/transportRange.html" rel="nofollow">配送范围</a></dd>
            <dd><a target="_blank" href="/help/transport/signAndCheck.html" rel="nofollow">签收与验货</a></dd>
        </dl>
        <dl class="dl4">
            <dt>售后服务</dt>
            <dd><a target="_blank" href="/help/service/servicePolicy.html" rel="nofollow">售后服务政策</a></dd>
            <dd><a target="_blank" href="/help/service/reworkAndReturn.html" rel="nofollow">返工/退换货</a></dd>
            <dd><a target="_blank" href="/help/service/refund.html" rel="nofollow">退款说明</a></dd>
        </dl>
        <dl class="dl5">
            <dt>帮助中心</dt>
            <dd><a target="_blank" href="/help/faq.html" rel="nofollow">常见问题</a></dd>
            <dd><a href="javascript:;" class="j-suggest" rel="nofollow">给我们提建议</a></dd>
            <dd><a target="_blank" href="/yc.html">购物指南</a></dd>
        </dl>
        <div class="kefu">
            <div class="tel">4000-556-956</div>
            <div class="time">周一至周日 8:30-18:00<br>(仅收市话费)</div>
            <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="btn" id="j-serviceQQ" rel="nofollow">在线交谈</a>
        </div>
    </div>
</div>