<div style="display:none;">
    <script>
        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?98df95832db62f51fcce1fc22d63410f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        //百度自动推送
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256020216'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256020216' type='text/javascript'%3E%3C/script%3E"));</script>
    <script>(function(){var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf":"https://jspassport.ssl.qhimg.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf";document.write('<script src="' + src + '" id="sozz"><\/script>');})();</script>
    <script type="text/javascript">
        var _py = _py || [];
        _py.push(['a', '-t84T..LHQi8eMmYf0o3m-UI8YpKP']);
        _py.push(['domain','stats.ipinyou.com']);
        _py.push(['e','']);
        -function(d) {
            var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
        }(document);
    </script>
    <noscript><img src="//stats.ipinyou.com/adv.gif?a=-t84T..LHQi8eMmYf0o3m-UI8YpKP&e=" style="display:none;"/></noscript>
    <script type="text/javascript" src="//s.union.360.cn/57329.js" async defer></script>
</div>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/js/base_f27505d.js"></script>
<script type="text/javascript">!function(){            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77340581-1', 'auto');
    ga('send', 'pageview');
}();</script>