<div class="g-right">
    <div class="box1"><a target="_blank" rel="nofollow" href="/association/assDiscuss.html" class="inquiry"></a></div>
    <div class="box2">
        <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="qq" rel="nofollow"><span>客服</span></a>
        <div class="subBox">
            <div class="text1"></div>
            <div class="text2">有什么可以帮您呢？</div>
            <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="rbtn" id="j-serviceQQ2" rel="nofollow">点击咨询</a>
            <div class="text3">或者拨打服务热线</div>
            <div class="text4">4000-556-956</div>
        </div>
    </div>
    <div class="box3">
        <a target="_blank" rel="nofollow" href="http://www.duoduoyin.com//activity/coupons.html" class="yhq">微信</a>
        <div class="subBox">
            <span><img src="//cdn2.duoduoyin.com/static/ddy-common/images/common/sm_364f47e.png" /></span>
        </div>
    </div>
    <div class="box5">
        <a href="javascript:;" class="feed j-suggest"></a>
        <div class="subBox">
            <i></i><a href="javascript:;" class="j-suggest">提建议有奖</a>
        </div>
    </div>
    <div class="box6">
        <a href="javascript:;" class="gotop j-gotop"></a>
        <div class="subBox">
            <i></i><a href="javascript:;" class="j-gotop">返回顶部</a>
        </div>
    </div>
</div>