<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta content="all" name="robots" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>印刷服务总类 - 多多印网</title>
    <link type="image/x-icon" rel="shortcut icon" href="/WEB-INF/views/favicon.ico" />

    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.duoduoyin.com:443/classify.html" >

    <script type="text/javascript">
        var rurl = "";
        var links = document.getElementsByTagName("link");
        var link = {};
        for(var i=0;i<links.length;i++){
            link = links[i];
            if(link.rel === "alternate"){
                rurl = link.href;
                break;
            }
        }
        (function(a,b){if((/AppleWebKit.*Mobile/i.test(a)||/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(a)||/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(a))&&location.hash!='#m'&&b)window.location = b })(navigator.userAgent,rurl)
    </script>
    <script type="text/javascript">
        var UPDATA_URL="//image.duoduoyin.com/";
    </script>
    <link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/css/base_fd93695.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/css/classify_dd1ed3a.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/widget/banner/banner_59ecf23.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/widget/search/search_4916d9e.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/widget/header.1/header_7a47d73.css"/></head>