
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="all" name="robots" />
    <meta name="description" content="多多印刷网手机注册说明" />
    <meta name="keywords" content="手机注册" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>手机注册 - 多多印网</title>
    <link type="image/x-icon" rel="shortcut icon" href="/WEB-INF/views/favicon.ico" />


    <script type="text/javascript">
        var rurl = "";
        var links = document.getElementsByTagName("link");
        var link = {};
        for(var i=0;i<links.length;i++){
            link = links[i];
            if(link.rel === "alternate"){
                rurl = link.href;
                break;
            }
        }
        (function(a,b){if((/AppleWebKit.*Mobile/i.test(a)||/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(a)||/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(a))&&location.hash!='#m'&&b)window.location = b })(navigator.userAgent,rurl)
    </script>
    <script type="text/javascript">
        var UPDATA_URL="//image.duoduoyin.com/";
    </script>
    <link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/css/base_fd93695.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-user/css/reg_dd010ef.css"/></head>
<body class="bg-gray">

<script type="text/javascript">
    var main_url='http://www.duoduoyin.com/';
</script>
<div class="Container"><div class="header">
    <div class="header_col">
        <a href="/"><img class="logo" src="//cdn2.duoduoyin.com/static/ddy-user/images/login-logo_99712f2.png" /></a>
        <span class="head-text">欢迎注册</span>
    </div>
</div>
    <div class="main">
        <div class="formTip"></div>
        <div class="to_login">已有账号？<a href="/login.html">去登录</a></div>
        <div class="reg_box tc" style="display: none;" id="reg_mobile">
            <div class="t">注册帐号</div>
            <form action="/reg.html" method="post" id="j-userReg"  autocomplete="off">
                <input type="hidden" name="mold" value="mobile" id="j-regMold">
                <label class="label"><i></i><input type="text" name="mobile" ajaxurl="/user/check/type/m.html" datatype="m" nullmsg="请输入手机号" errormsg="请输入正确手机号" placeholder="手机号"/></label>
                <div class="auth_group">
                    <label class="label auth_label"><input type="text" name="mobileCode" placeholder="验证码"/></label>
                    <input type="button" class="get_auth" id="j-sendSms" value="免费获取手机验证码"/>
                </div>
                <label class="label"><i class="ic"></i><input type="password" name="password" datatype="*6-32" nullmsg="请输入密码" errormsg="密码格式不正确(6-32位字符)" placeholder="设置密码"/></label>
                <label class="label"><i class="ic"></i><input type="password" name="compwd" recheck="password" datatype="*6-32" nullmsg="请再次输入密码" errormsg="两次密码输入不一致" placeholder="确认密码"/></label>
                <div class="agree_box">
                    <label class="agree"><input type="checkbox" checked onchange="document.getElementById('j-subBtn').disabled = !this.checked"><i></i>我已阅读并接受</label>
                    <a href="/info/privacy.html" target="_blank">《多多印用户协议》</a>
                </div>
                <button class="subBtn" id="j-subBtn">注册</button>
            </form>
            <div class="switch_box">
                切换到<a class="j-switchBtn" href="javascript:void(0);">微信扫码注册</a>
            </div>
        </div>
        <div class="wx_reg tc" id="reg_wx">
            <div class="t"><i></i>微信注册</div>
            <div class="qr_box">
                <div class="qr_code" id="qrcode"></div>
                <div class="text">扫一扫二维码注册</div>
            </div>
            <div class="switch_box">
                切换到<a class="j-switchBtn" href="javascript:void(0);">手机号注册</a>
            </div>
        </div>
    </div>
    <div class="g-foot3">
        <div class="g-wrap">
            <div class="link">
                <a href="/info/about.html" target="_blank" rel="nofollow">关于我们</a>
                <span class="split">-</span>
                <a href="/info/contact.html" target="_blank" rel="nofollow">联系我们</a>
                <span class="split">-</span>
                <a href="/info/partnership.html" target="_blank" rel="nofollow">商务合作</a>
                <span class="split">-</span>
                <a href="/info/copyright.html" target="_blank" rel="nofollow">版权声明</a>
                <span class="split">-</span>
                <a href="/info/privacy.html" target="_blank" rel="nofollow">服务协议</a>
                <span class="split">-</span>
                <a href="/goodsNav.html" target="_blank">产品导航</a>
                <span class="split">-</span>
                <a href="/sitemap.html" target="_blank">网站地图</a>
                <span class="split">-</span>
                <a href="/searchWordsMap.html" target="_blank">热门搜索</a>
            </div>
            <div class="copy">
                <a href="/" title="多多印">多多印</a>
                _设计变简单&nbsp;&nbsp;&nbsp;印刷更轻松&nbsp;&nbsp;&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2018&nbsp;&nbsp;<a href="/">duoduoyin.com</a>
                <span>&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;鲁ICP备14013361号-7</span>
            </div>
        </div>
    </div>
    <div class="g-right">
        <div class="box1"><a target="_blank" rel="nofollow" href="/association/assDiscuss.html" class="inquiry"></a></div>
        <div class="box2">
            <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="qq" rel="nofollow"><span>客服</span></a>
            <div class="subBox">
                <div class="text1"></div>
                <div class="text2">有什么可以帮您呢？</div>
                <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="rbtn" id="j-serviceQQ2" rel="nofollow">点击咨询</a>
                <div class="text3">或者拨打服务热线</div>
                <div class="text4">4000-556-956</div>
            </div>
        </div>
        <div class="box3">
            <a target="_blank" rel="nofollow" href="http://www.duoduoyin.com//activity/coupons.html" class="yhq">微信</a>
            <div class="subBox">
                <span><img src="//cdn2.duoduoyin.com/static/ddy-common/images/common/sm_364f47e.png" /></span>
            </div>
        </div>
        <div class="box5">
            <a href="javascript:;" class="feed j-suggest"></a>
            <div class="subBox">
                <i></i><a href="javascript:;" class="j-suggest">提建议有奖</a>
            </div>
        </div>
        <div class="box6">
            <a href="javascript:;" class="gotop j-gotop"></a>
            <div class="subBox">
                <i></i><a href="javascript:;" class="j-gotop">返回顶部</a>
            </div>
        </div>
    </div>
    <div class="j-suggestWindow g-popup g-suggest">
        <div class="popupContainer">
            <div class="popupHead"><span>意见反馈</span><a href="javascript:;" class="j-popupClose popupClose">x</a></div>
            <div class="j-suggestBox popupBox">
                <form action="/main/info.html" method="post" id="j-suggestForm">
                    <input type="hidden" value="suggest" name="type" />
                    <dl>
                        <dd><span class="title f-left">问题描述</span><b class="f-cRed f-left">*</b></dd>
                        <dd><textarea placeholder="如遇到任何问题或建议，欢迎您及时告诉我们..." class="ta" name="content" datatype="*2-100" errormsg="问题或建议需2-100个字符" nullmsg="请填写问题或建议"></textarea></dd>
                        <dd><span class="title f-left">联系QQ</span></dd>
                        <dd><input type="text" name="qq" class="ipt" placeholder="QQ号码" datatype="qq" errormsg="QQ号码格式有误" nullmsg="请填写QQ号码" style="width:323px;" /></dd>
                        <dd class="j-suggestCode f-mt10"></dd>
                        <dd class="f-mt10"><input id="j-suggestFormSubmit" type="button" class="btn-red" value="提交" /></dd>
                    </dl>
                </form>
            </div>
        </div>
    </div>
    <div class="g-mark j-suggestMask"></div>
</div>

<div style="display:none;">
    <script>
        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?98df95832db62f51fcce1fc22d63410f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        //百度自动推送
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256020216'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256020216' type='text/javascript'%3E%3C/script%3E"));</script>
    <script>(function(){var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf":"https://jspassport.ssl.qhimg.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf";document.write('<script src="' + src + '" id="sozz"><\/script>');})();</script>
    <script type="text/javascript">
        var _py = _py || [];
        _py.push(['a', '-t84T..LHQi8eMmYf0o3m-UI8YpKP']);
        _py.push(['domain','stats.ipinyou.com']);
        _py.push(['e','']);
        -function(d) {
            var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
        }(document);
    </script>
    <noscript><img src="//stats.ipinyou.com/adv.gif?a=-t84T..LHQi8eMmYf0o3m-UI8YpKP&e=" style="display:none;"/></noscript>
    <script type="text/javascript" src="//s.union.360.cn/57329.js" async defer></script>
</div>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/js/base_f27505d.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/emailAutoComplete.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/validform/js/Validform.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-user/js/wxLogin_1ec87a8.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-user/js/reg_668ac82.js"></script>
<script type="text/javascript">!function(){            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77340581-1', 'auto');
    ga('send', 'pageview');
}();</script></body>
</html>