
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="all" name="robots" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>领取优惠券 - 多多印网</title>
    <link type="image/x-icon" rel="shortcut icon" href="/WEB-INF/views/favicon.ico" />


    <script type="text/javascript">
        var rurl = "";
        var links = document.getElementsByTagName("link");
        var link = {};
        for(var i=0;i<links.length;i++){
            link = links[i];
            if(link.rel === "alternate"){
                rurl = link.href;
                break;
            }
        }
        (function(a,b){if((/AppleWebKit.*Mobile/i.test(a)||/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(a)||/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(a))&&location.hash!='#m'&&b)window.location = b })(navigator.userAgent,rurl)
    </script>
    <script type="text/javascript">
        var UPDATA_URL="//image.duoduoyin.com/";
    </script>
    <link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/css/base_fd93695.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-activity/css/newCoupon_0a116a1.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/widget/banner/banner_59ecf23.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/widget/search/search_4916d9e.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/widget/header.1/header_7a47d73.css"/></head>
<body class="yhq-body">

<div class="ddy_new_banner">
    <div class="g-wrap">
        <a href="/" class="home">多多印首页</a>
        <div class="info">
            <ul>
                <li>
                    Hi~ 欢迎您，请<a class="login" href="/login.html" rel="nofollow">[ 登录 ]</a>
                    <a class="login" href="/reg.html" rel="nofollow">[ 免费注册 ]</a>
                </li>
                <li class="split">|</li>
                <li>
                    <a target="_blank" rel="nofollow" href="/member/buy.html">我的订单</a>
                </li>
                <li class="split">|</li>
                <li>
                    <a target="_blank" rel="nofollow" href="/association.html">社区</a>
                </li>
                <li class="split">|</li>
                <li class="li1">
                    <a target="_blank" rel="nofollow" href="/help.html">帮助中心</a>
                </li>
            </ul>
        </div>
    </div>
</div><div class="header ">
    <div class="g-wrap toolbar">
        <div class="logo">
            <a href="/"><img src="//cdn2.duoduoyin.com/static/ddy-common/images/common/logo_a0465e3.png" width="109"></a>
        </div>
        <div class="new_search_box">
            <div class="search-widget s1">
                <div class="wrap">
                    <input type="text" placeholder="请输入关键字" id="search" maxlength="10">
                    <span></span>
                </div>
                <ul class="recommand">
                    <li>
                        <a href="/search/k-JUU1JTkwJThEJUU3JTg5JTg3.html">名片</a>
                    </li>
                    <li>
                        <a href="/search/k-JUU1JUFFJUEzJUU0JUJDJUEwJUU3JTk0JUJCJUU1JTg2JThD.html">宣传画册</a>
                    </li>
                    <li>
                        <a href="/search/k-JUU1JUFFJUEzJUU0JUJDJUEwJUU1JThEJTk1.html">宣传单</a>
                    </li>
                    <li>
                        <a href="/search/k-JUU0JUI4JThEJUU1JUI5JUIyJUU4JTgzJUI2.html">不干胶</a>
                    </li>
                    <li>
                        <a href="/search/k-JUU2JTg5JThCJUU2JThGJTkwJUU4JUEyJThC.html">手提袋</a>
                    </li>
                    <li>
                        <a href="/search/k-JUU2JTk2JTg3JUU1JThDJTk2JUU4JUExJUFC.html">文化衫</a>
                    </li>
                </ul>
                <div class="search-tip j-searchTip">
                    <p>最近搜索</p>
                    <ul class="new">
                        <li><a href="/search/k-JUU1JUI5JUIyJUU4JTgzJUI2.html">干胶</a></li>
                        <li><a href="/search/k-JUU0JUI4JThEJUU1JUI5JUIyJUU4JTgzJUI2.html">不干胶</a></li>
                    </ul>
                    <p>热门搜索</p>
                    <ul class="hot">
                        <li><a href="/search/k-JUU1JTkwJThEJUU3JTg5JTg3JUU4JUFFJUJFJUU4JUFFJUEx.html">名片设计</a></li>
                        <li><a href="/search/k-JUU1JTkwJThEJUU3JTg5JTg3.html">名片</a></li>
                        <li><a href="/search/k-JUU1JUFFJUEzJUU0JUJDJUEwJUU1JTkzJTgx.html">宣传品</a></li>
                    </ul>
                </div>
            </div></div>
        <div class="right">
            <div class="box cart">
                <a target="_blank" rel="nofollow" class="shop" href="/goodsCart.html">
                    <i></i>购物车<span class="num">
0
</span>
                </a>
            </div>
            <div class="box tel">
                <i></i>
                <span>4000&nbsp;556&nbsp;956&nbsp;&nbsp;</span>
            </div>
            <div class="box service">
                <a href="http://q.url.cn/s/hyuBVnm?_type=wpa" target="_blank" class="qq" rel="nofollow">
                    <i></i>联系客服</a>
            </div>
        </div>
    </div>
</div><div class="g-navnew">
    <div class="g-wrap">
        <div class="navLeft">
            <div class="allsort"><i></i><span>印品分类</span></div>
            <div class="sortList" id="j-mainSortList">
                <ul class="list">
                    <li class="li1 j-li" data-id="sort1" data-adlink="http://www.duoduoyin.com/mingpianLuxury.html" data-adimg="//image.duoduoyin.com/uploads/aid/20180319/180319033807f68df16f93.jpg">
                        <div class="sort1"><i></i><a target="_blank" href="/mingpian.html">名片</a></div>
                        <div class="sort2"><a target="_blank" href="/goods/1.html">铜版纸</a><a target="_blank" href="/goods/173.html">安格纸</a><a target="_blank" href="/goods/226.html">丽芙纸</a><br/><a target="_blank" href="/goods/45.html">黑卡纸</a><a target="_blank" href="/goods/168.html">欧纯棉纸</a><a target="_blank" href="/zhiyang.html">纸样</a></div>
                    </li>
                    <li class="li2 j-li" data-id="sort9" data-adlink="http://www.duoduoyin.com/toteBag.html" data-adimg="//image.duoduoyin.com/uploads/aid/20180319/180319033937f69396d653.jpg">
                        <div class="sort1"><i></i><a target="_blank" href="/toteBag.html">手提袋</a></div>
                        <div class="sort2"><a target="_blank" href="/goods/292.html">白卡纸</a><a target="_blank" href="/goods/294.html">牛皮纸</a><a target="_blank" href="/toteBag.html#fabric">无纺布</a><br/><a target="_blank" href="/goods/298.html">帆布袋</a><a target="_blank" href="/goods/297.html">塑料袋</a><a target="_blank" href="/toteBag.html#spot">现货</a></div>
                    </li>
                    <li class="li3 j-li" data-id="sort2" data-adlink="http://www.duoduoyin.com/huace.html" data-adimg="//image.duoduoyin.com/uploads/aid/20180319/180319033844f690411d62.jpg">
                        <div class="sort1"><i></i><a href="javascript:;">宣传</a></div>
                        <div class="sort2"><a target="_blank" href="/xuanchuandan.html">宣传单</a><a target="_blank" href="/huace.html">画册</a><a class="ar" target="_blank" href="/buganjiaotie.html">不干胶贴</a><br/><a target="_blank" href="/yilabao.html">易拉宝</a><a target="_blank" href="/zheye.html">折页</a><a target="_blank" href="/wenhuashan.html">文化衫</a></div>
                    </li>
                    <li class="li4 j-li" data-id="sort3" data-adlink="http://www.duoduoyin.com/goods/274.html" data-adimg="//image.duoduoyin.com/uploads/aid/20180319/180319033901f6915e9892.jpg">
                        <div class="sort1"><i></i><a href="javascript:;">办公</a></div>
                        <div class="sort2"><a target="_blank" href="/gongzuozheng.html">工作证</a><a target="_blank" href="/goods/75.html">信纸</a><a target="_blank" href="/goods/108.html">信封</a><a target="_blank" href="/goods/60.html">便签</a><br/><a target="_blank" href="/jishiben.html">记事本</a><a target="_blank" href="/goods/74.html">文件袋</a><a target="_blank" href="/goods/76.html">纸杯</a></div>
                    </li>
                    <li class="li5 j-li" data-id="sort7" data-adlink="http://www.duoduoyin.com/activity/foodBeverage.html" data-adimg="//image.duoduoyin.com/uploads/aid/20180319/180319034430f6a5e98582.png">
                        <div class="sort1"><i></i><a href="/activity/foodBeverage.html" target="_blank">餐饮印品</a></div>
                        <div class="sort2"><a target="_blank" href="/goods/305.html">订餐卡</a><a class="ar" target="_blank" href="/goods/311.html">不干胶</a><a target="_blank" href="/goods/306.html">DM单</a><br/><a target="_blank" href="/goods/303.html">餐巾纸</a><a target="_blank" href="/goods/309.html">垫餐纸</a><a target="_blank" href="/goods/312.html">餐盒腰封</a></div>
                    </li>
                    <li class="li6 j-li" data-id="sort8" data-adlink="http://www.duoduoyin.com/kuaiyin.html" data-adimg="//image.duoduoyin.com/uploads/aid/20180319/180319033925f692decbd6.jpg">
                        <div class="sort1"><i></i><a href="javascript:;">速印</a></div>
                        <div class="sort2"><a target="_blank" href="/goods/267.html">项目书</a><a target="_blank" href="/goods/268.html">投标书</a><a target="_blank" href="/goods/263.html">VI手册</a><br/><a target="_blank" href="/goods/266.html">培训书</a><a target="_blank" href="/zhaopianshu.html">相册书</a><a target="_blank" href="/goods/265.html">产品手册</a></div>
                    </li>
                </ul>
                <div class="subsort" id="j-mainSubsort">
                    <div class="subwrap">
                        <div class="subbox j-subbox"><div class="boxc j-box"></div></div>
                        <div class="subad j-subad"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var kxnavsort = {
                    'sort1':'<div class="subtitle"><a target="_blank" href="/mingpian/pt-1.html"><span>经典名片</span></a></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/1.html">铜版纸</a>\
			<a target="_blank" href="/goods/2.html">白卡纸</a>\
			<a target="_blank" href="/goods/23.html">布纹纸</a>\
			<a target="_blank" href="/goods/24.html">绅士纸</a>\
			<a target="_blank" href="/goods/173.html" class="hot-item">安格纸</a>\
			<a target="_blank" href="/goods/3.html">冰白珠光纸</a><br/>\
			<a target="_blank" href="/goods/225.html">刚古纸</a>\
			<a target="_blank" href="/goods/226.html">丽芙纸</a>\
			<a target="_blank" href="/goods/224.html">莱妮纹纸</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/mingpianLuxury/type/fine.html"><span>高档名片</span></a></div>\
		<div class="sublist card-list">\
			<a target="_blank" href="/goods/45.html">比利时黑卡</a>\
			<a target="_blank" href="/goods/47.html" class="hot-item">芬兰纤维</a>\
			<a target="_blank" href="/goods/46.html">德国金石</a>\
			<a target="_blank" href="/goods/179.html">莹彩冰白</a>\
			<a target="_blank" href="/goods/178.html">雅致布纹</a>\
			<a target="_blank" href="/goods/177.html">荷兰白卡</a>\
			<a target="_blank" href="/goods/104.html">睿智绅士</a>\
			<a target="_blank" href="/goods/168.html">欧纯棉纸</a>\
			<a target="_blank" href="/goods/180.html">真木元素</a>\
			<a target="_blank" href="/goods/103.html">牛仔纤维</a>\
			<a target="_blank" href="/goods/50.html">加拿大星光</a>\
			<a target="_blank" href="/goods/52.html">法国梦幻</a>\
			<a target="_blank" href="/goods/102.html">丽晶拉丝</a>\
			<a target="_blank" href="/goods/53.html">芬兰丽质超感滑面</a>\
			<a target="_blank" href="/goods/54.html" class="hot-item">德国别具一格</a>\
			<a target="_blank" href="/goods/55.html">德国纤绣经纬</a>\
			<a target="_blank" href="/goods/107.html">日本大地纸</a>\
			<a target="_blank" href="/goods/105.html" class="hot-item">意大利塞维亚</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/mingpianLuxury/type/luxury.html"><span>奢华名片</span></a></div>\
		<div class="sublist card-list">\
			<a target="_blank" href="/goods/99.html" class="hot-item">法国钻石</a>\
			<a target="_blank" href="/goods/92.html">美肌纸</a>\
			<a target="_blank" href="/goods/94.html">意大利丝绸</a>\
			<a target="_blank" href="/goods/93.html">意大利新触感黑</a>\
			<a target="_blank" href="/goods/98.html">超厚多层裱</a>\
			<a target="_blank" href="/goods/100.html">法国星域SKIN</a>\
			<a target="_blank" href="/goods/95.html">西班牙土豆皮</a>\
			<a target="_blank" href="/goods/96.html">日本凝柔</a>\
			<a target="_blank" href="/goods/97.html">全棉纸</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/mingpianLuxury/type/chuangyimingpian.html"><span class="new-item">创意名片</span></a></div>\
		<div class="sublist card-list">\
			<a target="_blank" href="/mingpianLuxury/type/chuangyimingpian.html/#cyBox1" class="hot-item">行业艺术名片</a>\
			<a target="_blank" href="/mingpianLuxury/type/chuangyimingpian.html/#cyBox2">产品形象名片</a>\
			<a target="_blank" href="/mingpianLuxury/type/chuangyimingpian.html/#cyBox3">精致工艺名片</a>\
			<a target="_blank" href="/mingpianLuxury/type/chuangyimingpian.html/#cyBox4">手工设计名片</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/zhiyang.html"><span>获取纸样</span></a></div>\
		<div class="sublist card-list">\
			<a target="_blank" href="/goods/229.html">经典高档名片纸样</a>\
			<a target="_blank" href="/goods/213.html" class="hot-item">高档奢华名片纸样</a>\
		</div>',
                    'sort2':'<div class="subtitle"><span>印刷类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/xuanchuandan.html" class="hot-item">宣传单</a>\
			<a target="_blank" href="/goods/212.html">封套</a>\
			<a target="_blank" href="/zheye.html" class="hot-item">折页</a>\
			<a target="_blank" href="/huace.html">画册</a>\
			<a target="_blank" href="/shoutidai.html" class="hot-item">手提袋</a>\
			<a target="_blank" href="/goods/63.html">代金券</a>\
			<a target="_blank" href="/buganjiaotie.html" class="hot-item">不干胶贴</a>\
			<a target="_blank" href="/haibao.html">海报</a>\
			<a target="_blank" href="/wenhuashan.html" class="new-item">文化衫</a>\
			<a target="_blank" href="/goods/214.html">广告帽</a>\
			<a target="_blank" href="/guanggaoshan.html">广告扇</a>\
		</div>\
		<div class="subtitle"><span>制作类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/Xzhanjia.html">X展架</a>\
			<a target="_blank" href="/yilabao.html" class="hot-item">易拉宝</a>\
			<a target="_blank" href="/menxingzhanjia.html" class="hot-item">门型展架</a>\
			<a target="_blank" href="/goods/192.html">写真画面</a>\
			<a target="_blank" href="/goods/191.html">KT板写真</a>\
			<a target="_blank" href="/goods/190.html">手举牌</a>\
			<a target="_blank" href="/goods/189.html">请赐名片盒</a>\
			<a target="_blank" href="/goods/71.html">台牌</a>\
			<a target="_blank" href="/goods/73.html">条幅</a>\
		</div>\
		<div class="subtitle"><span>PVC类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/57.html">亮光会员卡</a>\
			<a target="_blank" href="/goods/120.html">哑光会员卡</a>\
			<a target="_blank" href="/goods/58.html" class="hot-item">磨砂会员卡</a>\
			<a target="_blank" href="/goods/119.html">珠光会员卡</a>\
			<br>\
			<a target="_blank" href="/goods/114.html">亮光名片</a>\
			<a target="_blank" href="/goods/115.html">哑光名片</a>\
			<a target="_blank" href="/goods/116.html">磨砂名片</a>\
			<a target="_blank" href="/goods/118.html">珠光名片</a>\
			<a target="_blank" href="/goods/117.html" class="hot-item">透明哑光名片</a>\
		 </div>',
                    'sort3':'<div class="subtitle"><span>印刷类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/60.html">便签</a>\
			<a target="_blank" href="/goods/108.html" class="hot-item">信封</a>\
			<a target="_blank" href="/goods/75.html" class="hot-item">信纸</a>\
			<a target="_blank" href="/wutan.html" class="new-item">无碳复写</a>\
			<a target="_blank" href="/goods/74.html">文件袋</a>\
			<a target="_blank" href="/goods/76.html">纸杯</a>\
			<a target="_blank" href="/gongzuozheng.html">工作证套装</a>\
			<a target="_blank" href="/xiongpai.html">胸牌</a>\
			<a target="_blank" href="/wenhuashan.html" class="hot-item">文化衫</a>\
			<a target="_blank" href="/goods/214.html">广告帽</a>\
			<a target="_blank" href="/jishiben.html" class="new-hot">商务记事本</a>\
			<a target="_blank" href="/taili.html" class="new-hot">企业台历</a>\
		</div>\
		<div class="subtitle"><span>制作类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/guahua.html" class="hot-item">挂画</a>\
			<a target="_blank" href="/goods/205.html" class="hot-item">防撞玻璃贴</a>\
			<a target="_blank" href="/bangongshibiaopai.html">办公室标牌</a>\
			<a target="_blank" href="/goods/72.html">水晶字</a>\
			<a target="_blank" href="/goods/126.html">LOGO笔</a>\
			<a target="_blank" href="/goods/125.html">笔筒</a>\
			<a target="_blank" href="/goods/64.html">会议桌牌</a>\
		</div>',
                    'sort7':'<div class="subtitle"><span>形象展示类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/303.html" class="new-item">餐巾纸</a>\
			<a target="_blank" href="/goods/304.html" class="new-item">筷子套</a>\
			<a target="_blank" href="/goods/309.html">垫餐纸</a>\
			<a target="_blank" href="/goods/310.html">饮品打包袋</a>\
			<a target="_blank" href="/goods/311.html" class="hot-item">餐饮不干胶</a>\
			<a target="_blank" href="/goods/312.html" class="hot-item">餐盒腰封</a>\
		</div>\
		<div class="subtitle"><span>宣传推广类</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/305.html" class="hot-item">订餐卡</a>\
			<a target="_blank" href="/goods/306.html" class="hot-item">DM单</a>\
			<a target="_blank" href="/goods/307.html">餐厅海报</a>\
			<a target="_blank" href="/goods/308.html">餐厅挂画</a>\
		</div>',
                    'sort8':'<div class="subtitle"><span>名片速印</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/217.html">铜版纸名片</a>\
			<a target="_blank" href="/goods/215.html" class="hot-item">特种纸名片</a>\
		</div>\
		<div class="subtitle"><span>折页速印</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/219.html">二折页</a>\
			<a target="_blank" href="/goods/220.html" class="hot-item">三折页</a>\
			<a target="_blank" href="/goods/221.html">四折页</a>\
		</div>\
		<div class="subtitle"><span>相册书</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/227.html" class="hot-item">蝴蝶精装相册书</a>\
			<a target="_blank" href="/goods/228.html">软皮胶装相册书</a>\
		</div>\
		<div class="subtitle"><span class="new-item">其它</span></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/263.html" class="hot-item">VI手册</a>\
			<a target="_blank" href="/goods/264.html">员工手册</a>\
			<a target="_blank" href="/goods/265.html">产品手册</a>\
			<a target="_blank" href="/goods/266.html">培训手册</a>\
			<a target="_blank" href="/goods/267.html" class="hot-item">项目书</a>\
			<a target="_blank" href="/goods/268.html" class="hot-item">投标书</a>\
			<a target="_blank" href="/goods/218.html">单页</a>\
			<a target="_blank" href="/goods/222.html">画册</a>\
			<a target="_blank" href="/goods/223.html">不干胶</a>\
		</div>',
                    'sort9':'<div class="subtitle"><a target="_blank" href="/toteBag.html#classic"><span>经典手提袋</span></a></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/292.html" class="hot-item">白卡纸手提袋</a>\
			<a target="_blank" href="/goods/293.html">铜版纸手提袋</a>\
			<a target="_blank" href="/goods/294.html">牛皮纸手提袋</a>\
			<a target="_blank" href="/goods/295.html">白牛皮纸手提袋</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/toteBag.html#fabric"><span>无纺布手提袋</span></a></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/299.html" class="new-item">平口无纺布手提袋</a>\
			<a target="_blank" href="/goods/300.html" class="hot-item">立体无纺布手提袋</a>\
			<a target="_blank" href="/goods/301.html" class="new-item">船型无纺布手提袋</a>\
			<a target="_blank" href="/goods/302.html" class="new-item">折叠无纺布手提袋</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/toteBag.html#other"><span>其他手提袋</span></a></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/298.html" class="new-item">帆布手提袋</a>\
			<a target="_blank" href="/goods/297.html" class="new-item">塑料手提袋</a>\
			<a target="_blank" href="/goods/296.html" class="hot-item">船型手提袋</a>\
		</div>\
		<div class="subtitle"><a target="_blank" href="/toteBag.html#spot"><span>现货手提袋</span></a></div>\
		<div class="sublist">\
			<a target="_blank" href="/goods/291.html" class="hot-item">彩色牛皮纸手提袋</a>\
		</div>',
                }
            </script></div>
        <ul class="top-nav">
            <li>
                <a href="/classify.html" target="_blank">全部印品</a>
            </li>
            <li>
                <a href="/actorDesign.html" rel="nofollow" target="_blank">
                    <span class="tag new" style="left:75px;"></span>优享设计</a>
            </li>
            <li class="sceneli">
                <a href="javascript:;" target="_blank" rel="nofollow">场景服务<i class="more"></i>
                </a>
                <span class="line">|</span>
                <div class="scene-box">
                    <ul>
                        <li>
                            <i class="tag tag1"></i>
                            <p class="t1">展会物料</p>
                            <p>一站式解决，拎包参展</p>
                            <a target="_blank" href="/activity/exhibition.html"></a>
                        </li>
                        <li>
                            <i class="tag tag2"></i>
                            <p class="t1">日常办公</p>
                            <p>您身边的办公物料服务管家</p>
                            <a target="_blank" href="/activity/business.html"></a>
                        </li>
                        <li>
                            <i class="tag tag3"></i>
                            <p class="t1">地推必备</p>
                            <p>让地推效果更棒</p>
                            <a target="_blank" href="/activity/spread.html"></a>
                        </li>
                        <li>
                            <i class="tag tag4"></i>
                            <p class="t1">门店宣传</p>
                            <p>让客户过目不忘</p>
                            <a target="_blank" href="/activity/store.html"></a>
                        </li>
                        <li class="last">
                            <i class="tag tag5"></i>
                            <p class="t1">餐饮印品</p>
                            <p>塑造餐饮品牌 诱惑吃货味蕾</p>
                            <a target="_blank" href="/activity/foodBeverage.html"></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="diyli">
                <a href="http://www.tubangzhu.com/" class=" a1" target="_blank" rel="nofollow">图帮主</a>
                <div class="diysort">
                    <div class="diytop">你的设计你做主！</div>
                    <div class="info">
                        <dl class="dl1">
                            <dt>精美款式</dt>
                            <dd>资深设计团队呕血打造，定期更新</dd>
                        </dl>
                        <dl class="dl2">
                            <dt>轻松编辑</dt>
                            <dd>随意替换文字与LOGO，自定义色彩风格</dd>
                        </dl>
                        <dl class="dl3">
                            <dt>300分辨率</dt>
                            <dd>按印刷标准生成高清图片</dd>
                        </dl>
                    </div>
                    <div class="listw">
                        <div class="txt">最受欢迎模板：</div>
                        <ul class="ul2 f-clearfix">
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-mingpian.html">名片</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-xuanchuandan.html">宣传单</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-guahua.html">企业挂画</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-huace.html">画册</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-zhanjia.html">展架</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-buganjiaotie.html">不干胶贴</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-bianqian.html">便签</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-daijinquan.html">代金券</a>
                            </li>
                            <li class="li2">
                                <a target="_blank" href="http://www.tubangzhu.com/template/pr-shoutidai.html">手提袋</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div><div class="coupon_ground">
    <div class="box box1">
        <div class="title"></div>
        <ul class="c_list">
            <li data-id="27" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon1_a112d64.png" alt=""></li>
            <li data-id="28" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon2_fe480bb.png" alt=""></li>
            <li data-id="29" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon3_c42c381.png" alt=""></li>
            <li data-id="30" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon4_fae52a2.png" alt=""></li>
            <li data-id="31" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon5_6378b9c.png" alt=""></li>
            <li data-id="32" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon6_b95f1a0.png" alt=""></li>
            <li data-id="33" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon7_158100b.png" alt=""></li>
            <li data-id="34" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon8_b3cad98.png" alt=""></li>
            <li data-id="35" class="j-receive"><img src="//cdn2.duoduoyin.com/static/ddy-activity/images/new_coupon/coupon9_df6667c.png" alt=""></li>
        </ul>
        <div class="rules">
            <div class="icon"></div>
            <dl>
                <dt>印品优惠券使用说明：</dt>
                <dd><span class="num">1</span>客户单次下单只能领取和使用一张印刷优惠券，逾期无效；</dd>
                <dd><span class="num">2</span>印品优惠券逾期或者使用完毕之后可以继续领取；</dd>
                <dd><span class="num">3</span>不同印品优惠券使用限制不同，用户需参见优惠券的详情；</dd>
                <dd><span class="num">4</span>印品优惠券不可兑换现金；</dd>
                <dd><span class="num">5</span>印品优惠券适用于所有会员，但是优惠券和会员成长体系的折扣只能二选其一，不可同时使用。</dd>
            </dl>
        </div>
    </div>
    <div class="box box2">
        <div class="title"></div>
        <div class="table_box">
            <div class="switch"></div>
            <table cellspacing="0">
                <thead>
                <tr><th>印刷实付金额</th><th>给予设计券金额</th></tr>
                </thead>
                <tbody>
                <tr><td>99元</td><td>5元</td></tr>
                <tr><td>199元</td><td>10元</td></tr>
                <tr><td>399元</td><td>20元</td></tr>
                <tr><td>599元</td><td>30元</td></tr>
                <tr><td>999元</td><td>50元</td></tr>
                <tr><td>1999元</td><td>100元</td></tr>
                <tr><td>2999元</td><td>150元</td></tr>
                <tr><td>3999元</td><td>200元</td></tr>
                </tbody>
            </table>
        </div>
        <div class="spec_shadow"></div>
        <div class="rules">
            <dl>
                <dt>优享设计券使用说明：</dt>
                <dd><span class="num">1</span>优享设计券不兑现、不找零、不可代替印刷券使用、无使用门槛，仅限用于抵扣优享设计服务，付款时会被优先使用；</dd>
                <dd><span class="num">2</span>优享设计券可多张一起使用；</dd>
                <dd><span class="num">3</span>单张优享设计券不可拆分使用，仅限在单笔设计订单中使用；</dd>
                <dd><span class="num">4</span>优享设计券有效期：自发放之日起三十个自然日内有效，过期作废</dd>
            </dl>
            <div class="icon"></div>
        </div>
    </div>
</div>
<div class="g-tese g-tese-1">
    <div class="g-wrap">
        <div class="tcList f-clearfix">
            <dl class="dl1">
                <dt></dt>
                <dd>低价优质，一站式采购<br/>满足企业多场景营销宣传的印品需求</dd>
            </dl>
            <dl class="dl2">
                <dt></dt>
                <dd>领先的商业印品定制服务商<br/>荣膺中国印刷电商服务品牌20强榜单</dd>
            </dl>
            <dl class="dl3">
                <dt></dt>
                <dd>100%原创 有质感更高级<br/>资深设计师一对一用心服务</dd>
            </dl>
            <dl class="dl4">
                <dt></dt>
                <dd>售后无忧，贴心服务<br/>质量问题或运输破损,无条件免费重印</dd>
            </dl>
        </div>
    </div>
</div>
<div class="g-foot2">
    <div class="g-wrap">
        <dl class="dl1">
            <dt>新手入门</dt>
            <dd><a target="_blank" href="/reg.html" rel="nofollow">新用户注册</a></dd>
            <dd><a target="_blank" href="/user/forget.html" rel="nofollow">找回密码</a></dd>
            <dd><a target="_blank" href="/help/orderProcess.html" rel="nofollow">订购流程</a></dd>
        </dl>
        <dl class="dl2">
            <dt>安全支付</dt>
            <dd><a target="_blank" href="/help/pay/payOnline.html" rel="nofollow">在线支付</a></dd>
            <dd><a target="_blank" href="/help/pay/bankRemittance.html" rel="nofollow">银行汇款</a></dd>
            <dd><a target="_blank" href="/help/pay/invoice.html" rel="nofollow">发票说明</a></dd>
        </dl>
        <dl class="dl3">
            <dt>关于配送</dt>
            <dd><a target="_blank" href="/help/transport/transportMethod.html" rel="nofollow">配送方式</a></dd>
            <dd><a target="_blank" href="/help/transport/transportRange.html" rel="nofollow">配送范围</a></dd>
            <dd><a target="_blank" href="/help/transport/signAndCheck.html" rel="nofollow">签收与验货</a></dd>
        </dl>
        <dl class="dl4">
            <dt>售后服务</dt>
            <dd><a target="_blank" href="/help/service/servicePolicy.html" rel="nofollow">售后服务政策</a></dd>
            <dd><a target="_blank" href="/help/service/reworkAndReturn.html" rel="nofollow">返工/退换货</a></dd>
            <dd><a target="_blank" href="/help/service/refund.html" rel="nofollow">退款说明</a></dd>
        </dl>
        <dl class="dl5">
            <dt>帮助中心</dt>
            <dd><a target="_blank" href="/help/faq.html" rel="nofollow">常见问题</a></dd>
            <dd><a href="javascript:;" class="j-suggest" rel="nofollow">给我们提建议</a></dd>
            <dd><a target="_blank" href="/yc.html">购物指南</a></dd>
        </dl>
        <div class="kefu">
            <div class="tel">4000-556-956</div>
            <div class="time">周一至周日 8:30-18:00<br>(仅收市话费)</div>
            <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="btn" id="j-serviceQQ" rel="nofollow">在线交谈</a>
        </div>
    </div>
</div>
<div class="g-foot3">
    <div class="g-wrap">
        <div class="link">
            <a href="/info/about.html" target="_blank" rel="nofollow">关于我们</a>
            <span class="split">-</span>
            <a href="/info/contact.html" target="_blank" rel="nofollow">联系我们</a>
            <span class="split">-</span>
            <a href="/info/partnership.html" target="_blank" rel="nofollow">商务合作</a>
            <span class="split">-</span>
            <a href="/info/copyright.html" target="_blank" rel="nofollow">版权声明</a>
            <span class="split">-</span>
            <a href="/info/privacy.html" target="_blank" rel="nofollow">服务协议</a>
            <span class="split">-</span>
            <a href="/goodsNav.html" target="_blank">产品导航</a>
            <span class="split">-</span>
            <a href="/sitemap.html" target="_blank">网站地图</a>
            <span class="split">-</span>
            <a href="/searchWordsMap.html" target="_blank">热门搜索</a>
        </div>
        <div class="copy">
            <a href="/" title="多多印">多多印</a>
            _设计变简单&nbsp;&nbsp;&nbsp;印刷更轻松&nbsp;&nbsp;&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2018&nbsp;&nbsp;<a href="/">duoduoyin.com</a>
            <span>&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;鲁ICP备14013361号-7</span>
        </div>
    </div>
</div>
<div class="g-right">
    <div class="box1"><a target="_blank" rel="nofollow" href="/association/assDiscuss.html" class="inquiry"></a></div>
    <div class="box2">
        <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="qq" rel="nofollow"><span>客服</span></a>
        <div class="subBox">
            <div class="text1"></div>
            <div class="text2">有什么可以帮您呢？</div>
            <a href="http://q.url.cn/s/B4LNlZm?_type=wpa" target="_blank" class="rbtn" id="j-serviceQQ2" rel="nofollow">点击咨询</a>
            <div class="text3">或者拨打服务热线</div>
            <div class="text4">4000-556-956</div>
        </div>
    </div>
    <div class="box3">
        <a target="_blank" rel="nofollow" href="http://www.duoduoyin.com//activity/coupons.html" class="yhq">微信</a>
        <div class="subBox">
            <span><img src="//cdn2.duoduoyin.com/static/ddy-common/images/common/sm_364f47e.png" /></span>
        </div>
    </div>
    <div class="box5">
        <a href="javascript:;" class="feed j-suggest"></a>
        <div class="subBox">
            <i></i><a href="javascript:;" class="j-suggest">提建议有奖</a>
        </div>
    </div>
    <div class="box6">
        <a href="javascript:;" class="gotop j-gotop"></a>
        <div class="subBox">
            <i></i><a href="javascript:;" class="j-gotop">返回顶部</a>
        </div>
    </div>
</div>
<div class="j-suggestWindow g-popup g-suggest">
    <div class="popupContainer">
        <div class="popupHead"><span>意见反馈</span><a href="javascript:;" class="j-popupClose popupClose">x</a></div>
        <div class="j-suggestBox popupBox">
            <form action="/main/info.html" method="post" id="j-suggestForm">
                <input type="hidden" value="suggest" name="type" />
                <dl>
                    <dd><span class="title f-left">问题描述</span><b class="f-cRed f-left">*</b></dd>
                    <dd><textarea placeholder="如遇到任何问题或建议，欢迎您及时告诉我们..." class="ta" name="content" datatype="*2-100" errormsg="问题或建议需2-100个字符" nullmsg="请填写问题或建议"></textarea></dd>
                    <dd><span class="title f-left">联系QQ</span></dd>
                    <dd><input type="text" name="qq" class="ipt" placeholder="QQ号码" datatype="qq" errormsg="QQ号码格式有误" nullmsg="请填写QQ号码" style="width:323px;" /></dd>
                    <dd class="j-suggestCode f-mt10"></dd>
                    <dd class="f-mt10"><input id="j-suggestFormSubmit" type="button" class="btn-red" value="提交" /></dd>
                </dl>
            </form>
        </div>
    </div>
</div>
<div class="g-mark j-suggestMask"></div>

<div style="display:none;">
    <script>
        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?98df95832db62f51fcce1fc22d63410f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        //百度自动推送
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256020216'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256020216' type='text/javascript'%3E%3C/script%3E"));</script>
    <script>(function(){var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf":"https://jspassport.ssl.qhimg.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf";document.write('<script src="' + src + '" id="sozz"><\/script>');})();</script>
    <script type="text/javascript">
        var _py = _py || [];
        _py.push(['a', '-t84T..LHQi8eMmYf0o3m-UI8YpKP']);
        _py.push(['domain','stats.ipinyou.com']);
        _py.push(['e','']);
        -function(d) {
            var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
        }(document);
    </script>
    <noscript><img src="//stats.ipinyou.com/adv.gif?a=-t84T..LHQi8eMmYf0o3m-UI8YpKP&e=" style="display:none;"/></noscript>
    <script type="text/javascript" src="//s.union.360.cn/57329.js" async defer></script>
</div>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/js/base_f27505d.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/validform/js/Validform.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/layer/layer.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-main/js/coupon_da8e9e6.js"></script>
<script type="text/javascript">!function(){            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77340581-1', 'auto');
    ga('send', 'pageview');
}();</script></body>
</html>