
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="all" name="robots" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>优享设计首页 - 多多印网</title>
    <link type="image/x-icon" rel="shortcut icon" href="/WEB-INF/views/favicon.ico" />
    <script type="text/javascript">
        var UPDATA_URL="//image.duoduoyin.com/";
        var isLogin = "";
    </script>
    <link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/css/reset_a299368.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-actordesign/css/layout_8a910f4.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-common/plugin/artdialog/skins/default.css"/><link rel="stylesheet" type="text/css" href="//cdn2.duoduoyin.com/static/ddy-actordesign/css/components/index_9726f87.css"/></head>
<body>
<div class="header">
    <div class="top-bar">
        <p class="left">
            Hi~ 欢迎您来到多多印优享设计，请<span>[<a href="/login.html" rel="nofollow">登录</a>]</span>
            <span>[<a href="/reg.html" rel="nofollow">注册</a>]</span>
        </p>
        <a class="logo" href="/actorDesign.html"><img src="//cdn2.duoduoyin.com/static/ddy-actordesign/image/logo_203bad2.jpg" width="104" height="86" alt=""></a>
        <ul class="right">
            <li class="home"><a href="/">多多印首页</a></li>
            <li class="second"><a href="/member/buyDesign.html" target="_blank" rel="nofollow">我的订单</a></li>
            <li class="third"><a href="/activity/coupons.html" target="_blank" rel="nofollow">获取优惠券</a></li>
            <li class="fourth"><a href="/help.html" target="_blank" rel="nofollow">帮助中心</a></li>
        </ul>
    </div>
    <div class="switch-bar">
        <a href="/actorDesign.html" class="active">首页</a>
        <a class="service j-service " href="javascript:;" >服务</a>
        <a href="/designCase.html" >案例</a>
        <a href="/designerList.html" >设计师</a>
        <a href="/designOrderList.html" class="j-indentPage ">订单</a>
        <div class="service-box">
            <div class="blur-box"></div>
            <ul class="th">
                <li>
                    <i class="i1"></i>
                    <div class="text">LOGO/VI</div>
                </li>
                <li>
                    <i class="i2"></i>
                    <div class="text">名片</div>
                </li>
                <li>
                    <i class="i3"></i>
                    <div class="text">宣传品</div>
                </li>
                <li>
                    <i class="i4"></i>
                    <div class="text">办公用品</div>
                </li>
                <li>
                    <i class="i5"></i>
                    <div class="text">商务礼品</div>
                </li>
            </ul>
            <ul class="bf">
                <li>
                    <dl class="t1">
                        <dd><a href="/designGoods/18.html" target="_blank">Logo设计</a></dd>
                        <dd><a href="/designGoods/19.html" target="_blank">VI设计</a></dd>
                    </dl>
                </li>
                <li>
                    <dl class="t2">
                        <dd><a href="/designGoods/20.html" target="_blank">名片设计</a></dd>
                        <dd><a href="/designGoods/21.html" target="_blank">创意名片设计</a></dd>
                    </dl>
                </li>
                <li>
                    <dl class="t1">
                        <dd><a href="/designGoods/1.html" target="_blank">画册设计</a></dd>
                        <dd><a href="/designGoods/2.html" target="_blank">宣传单设计</a></dd>
                        <dd><a href="/designGoods/3.html" target="_blank">折页设计</a></dd>
                        <dd><a href="/designGoods/4.html" target="_blank">封套设计</a></dd>
                        <dd><a href="/designGoods/5.html" target="_blank">展架/易拉宝设计</a></dd>
                        <dd><a href="/designGoods/6.html" target="_blank">手提袋设计</a></dd>
                        <dd><a href="/designGoods/7.html" target="_blank">海报设计</a></dd>
                        <dd><a href="/designGoods/8.html" target="_blank">不干胶贴设计</a></dd>
                        <dd><a href="/designGoods/9.html" target="_blank">代金券设计</a></dd>
                        <dd><a href="/designGoods/10.html" target="_blank">广告扇设计</a></dd>
                    </dl>
                </li>
                <li>
                    <dl class="t2">
                        <dd><a href="/designGoods/11.html" target="_blank">工作证设计</a></dd>
                        <dd><a href="/designGoods/12.html" target="_blank">便签设计</a></dd>
                        <dd><a href="/designGoods/13.html" target="_blank">信封设计</a></dd>
                        <dd><a href="/designGoods/14.html" target="_blank">信纸设计</a></dd>
                        <dd><a href="/designGoods/15.html" target="_blank">文件袋设计</a></dd>
                        <dd><a href="/designGoods/16.html" target="_blank">纸杯设计</a></dd>
                        <dd><a href="/designGoods/17.html" target="_blank">记事本设计</a></dd>
                    </dl>
                </li>
                <li>
                    <dl class="t1">
                        <dd><a href="/designGoods/22.html" target="_blank">台历设计</a></dd>
                        <dd><a href="/designGoods/23.html" target="_blank">红包设计</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div><div class="actorDesign">

    <div class="banner_slide" id="banner_slide">
        <ul class="bd">
            <li class="">
                <a href="" target="_blank" class="j-baseAd" adId="384">
                    <img width="1920" height="537" src="//image.duoduoyin.com/uploads/aid/20180222/180222061209e97795af08.jpg" alt="优享首页大幻灯01">
                </a>
            </li>
            <li class="dn">
                <a href="" target="_blank" class="j-baseAd" adId="471">
                    <img width="1920" height="537" src="//image.duoduoyin.com/uploads/aid/20180425/18042503145602af03587d.jpg" alt="优享设计大幻灯02">
                </a>
            </li>
        </ul>
        <ul class="hd">
            <li></li>
            <li></li>
        </ul>
        <a href="javascript:;" class="next">
            <svg id="svg1" width="44" height="101" xmlns="http://www.w3.org/2000/svg">
                <path d="M6,5 L6,50 L6,95" stroke="#ffffff" fill="none" style="stroke-width: 2px;">
                    <animate attributeName="d" to="M6,20 L36,50 L6,80" begin="svg1.mouseenter" dur="0.2s" fill="freeze"/>
                    <animate attributeName="d" to="M6,5 L6,50 L6,95" begin="svg1.mouseleave" dur="0.2s" fill="freeze"/>
                </path>
            </svg>
        </a>
        <a href="javascript:;" class="prev">
            <svg id="svg2" width="44" height="101" xmlns="http://www.w3.org/2000/svg">
                <path d="M36,5 L36,50 L36,95" stroke="#ffffff" fill="none" style="stroke-width: 2px;">
                    <animate attributeName="d" to="M36,20 L6,50 L36,80" begin="svg2.mouseenter" dur="0.2s" fill="freeze"/>
                    <animate attributeName="d" to="M36,5 L36,50 L36,95" begin="svg2.mouseleave" dur="0.2s" fill="freeze"/>
                </path>
            </svg>
        </a>
    </div>
    <div class="process">
        <div class="title_out">
            <div class="tc">服务流程</div>
        </div>
        <ul class="ind_l">
            <li class="li1">
                选择服务</li>
            <li class="li2">
                填写需求并支付</li>
            <li class="li3">
                沟通/确认需求</li>
            <li class="li4">
                设计/对稿</li>
            <li class="li5">
                客户定稿</li>
        </ul>
    </div>
    <div class="container">
        <div class="kefu">
            <div class="close_b"><span class="close j-kefuModel">×</span></div>
            <a href="http://q.url.cn/s/hyuBVnm?_type=wpa" rel="nofollow"></a>
        </div>
        <div class="recTitle">推荐设计服务</div>
        <div class="recList1">
            <a href="/designGoods/1.html" target="_blank">画册</a>
            <a href="/designGoods/2.html" target="_blank">宣传单</a>
            <a href="/designGoods/3.html" target="_blank">折页</a>
            <a href="/designGoods/6.html" target="_blank">手提袋</a>
            <a href="/designGoods/20.html" target="_blank">名片</a>
        </div>
        <dl class="recList2">
            <dd>
                <div class="left">
                    <div class="name">画册</div>
                    <div class="des">一本画册尽显企业高端形象，大气展示，感染力强，生动展现企业形象、产品、文化、服务等，给客户卓越的视觉体验，深入了解企业品牌。
                        </br></div>
                    <a class="btn" href="/designGoods/1.html" target="_blank">购买服务</a>
                    <a class="more" href="/designGoods/1.html" target="_blank">more  >></a>
                </div>
                <div class="right">
                    <div class="eveSlide">
                        <ul class="bd">
                            <li ><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100822523ce1cc15f7.jpg" alt=""/></li>
                            <li style="display:none;"><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100822533ce1d8f6ba.jpg" alt=""/></li>
                        </ul>
                        <a href="javascript:;" class="next">&lt;</a>
                        <a href="javascript:;" class="prev">&gt;</a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="left">
                    <div class="name">宣传单</div>
                    <div class="des">企业日常宣传推广必备，快速展示企业品牌，推广效果立竿见影，适用场景多样，简约而不简单，突出品牌核心价值。
                        </br></div>
                    <a class="btn" href="/designGoods/2.html" target="_blank">购买服务</a>
                    <a class="more" href="/designGoods/2.html" target="_blank">more  >></a>
                </div>
                <div class="right">
                    <div class="eveSlide">
                        <ul class="bd">
                            <li ><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100822253ce019cc76.jpg" alt=""/></li>
                            <li style="display:none;"><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100826273cef3748b6.jpg" alt=""/></li>
                        </ul>
                        <a href="javascript:;" class="next">&lt;</a>
                        <a href="javascript:;" class="prev">&gt;</a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="left">
                    <div class="name">折页</div>
                    <div class="des">小身体大内容，更加打动客户的心，将企业信息提炼展现，提升品牌认同度与影响力，携带方便，应用广泛，彰显企业形象，迎接更多商机。
                        </br></div>
                    <a class="btn" href="/designGoods/3.html" target="_blank">购买服务</a>
                    <a class="more" href="/designGoods/3.html" target="_blank">more  >></a>
                </div>
                <div class="right">
                    <div class="eveSlide">
                        <ul class="bd">
                            <li ><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100831073d00bb134f.jpg" alt=""/></li>
                            <li style="display:none;"><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100831083d00c6ecb7.jpg" alt=""/></li>
                        </ul>
                        <a href="javascript:;" class="next">&lt;</a>
                        <a href="javascript:;" class="prev">&gt;</a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="left">
                    <div class="name">手提袋</div>
                    <div class="des">产品物料携带必备用品，兼具宣传推广的功能和实用性，是企业活动、展会的必需品，让客户成为企业的“袋”言人
                        </br></div>
                    <a class="btn" href="/designGoods/6.html" target="_blank">购买服务</a>
                    <a class="more" href="/designGoods/6.html" target="_blank">more  >></a>
                </div>
                <div class="right">
                    <div class="eveSlide">
                        <ul class="bd">
                            <li ><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100834333d0d99a56e.jpg" alt=""/></li>
                        </ul>
                        <a href="javascript:;" class="next">&lt;</a>
                        <a href="javascript:;" class="prev">&gt;</a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="left">
                    <div class="name">名片</div>
                    <div class="des">每一个人都需要一张名片
                        </br>装点门面或承载人生
                        </br>简约、优雅、张扬、睿智
                        </br>如何才能诠释真正的你
                        </br>拒绝千篇一律
                        </br>让名片代言独一无二的你。
                        </br></div>
                    <a class="btn" href="/designGoods/20.html" target="_blank">购买服务</a>
                    <a class="more" href="/designGoods/20.html" target="_blank">more  >></a>
                </div>
                <div class="right">
                    <div class="eveSlide">
                        <ul class="bd">
                            <li ><img src="//image.duoduoyin.com/uploads/youxiang_case/20180310/1803100840543d25672ab7.jpg" alt=""/></li>
                        </ul>
                        <a href="javascript:;" class="next">&lt;</a>
                        <a href="javascript:;" class="prev">&gt;</a>
                    </div>
                </div>
            </dd>
        </dl>
    </div>

</div>
<div class="footer">
    <ul class="point">
        <li>
            <div class="t">优质设计</div>
            <div class="d">所有设计100%原创</div>
        </li>
        <li>
            <div class="t">全程客服</div>
            <div class="d">6x12小时客服全程跟踪</div>
        </li>
        <li>
            <div class="t">云端储存</div>
            <div class="d">文件云端储存，永不丢失</div>
        </li>
    </ul>
    <div class="Icp">
        <div class="link">
            <a href="/info/about.html" target="_blank" rel="nofollow">关于我们</a>
            <span class="split">-</span>
            <a href="/info/contact.html" target="_blank" rel="nofollow">联系我们</a>
            <span class="split">-</span>
            <a href="/info/partnership.html" target="_blank" rel="nofollow">商务合作</a>
            <span class="split">-</span>
            <a href="/info/copyright.html" target="_blank" rel="nofollow">版权声明</a>
            <span class="split">-</span>
            <a href="/info/privacy.html" target="_blank" rel="nofollow">服务协议</a>
            <span class="split">-</span>
            <a href="/goodsNav.html" target="_blank">产品导航</a>
            <span class="split">-</span>
            <a href="/sitemap.html" target="_blank">网站地图</a>
        </div>
        <div class="copy">
            <a href="/" title="多多印">多多印</a>
            _设计变简单&nbsp;&nbsp;&nbsp;印刷更轻松&nbsp;&nbsp;&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2018&nbsp;&nbsp;<a href="/">duoduoyin.com</a>
            <span>&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;鲁ICP备14013361号-7</span>
        </div>
    </div>
</div><div style="display:none;">
    <script>
        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?98df95832db62f51fcce1fc22d63410f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        //百度自动推送
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256020216'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256020216' type='text/javascript'%3E%3C/script%3E"));</script>
    <script>(function(){var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf":"https://jspassport.ssl.qhimg.com/11.0.1.js?15a08e13dbd294097128e47cc7eabfaf";document.write('<script src="' + src + '" id="sozz"><\/script>');})();</script>
    <script type="text/javascript">
        var _py = _py || [];
        _py.push(['a', '-t84T..LHQi8eMmYf0o3m-UI8YpKP']);
        _py.push(['domain','stats.ipinyou.com']);
        _py.push(['e','']);
        -function(d) {
            var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
        }(document);
    </script>
    <noscript><img src="//stats.ipinyou.com/adv.gif?a=-t84T..LHQi8eMmYf0o3m-UI8YpKP&e=" style="display:none;"/></noscript>
    <script type="text/javascript" src="//s.union.360.cn/57329.js" async defer></script>
</div>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/artdialog/artDialog.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/mask/mask.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/layer/layer.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/html2canvas.min.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/validform/js/Validform.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/jquery.cookie.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-actordesign/js/common_9e41c83.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-common/plugin/superslide.js"></script>
<script type="text/javascript" src="//cdn2.duoduoyin.com/static/ddy-actordesign/js/index_2e7c9d9.js"></script>
<script type="text/javascript">!function(){            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77340581-1', 'auto');
    ga('send', 'pageview');
}();</script></body>
</html>